section.about-us
    .container
        .about-us__content
            .about-us__info
                h4.about-us__title Про компанію
                p.about-us__text 
                    | Більше десяти років співробітники нашого підприємства «Будагроплюс» працюють в галузі агропромислового комплексу України. 
                    br
                    | Наша спеціалізація - проектування і будівництво "під ключ" комплексів ЗАВ, КЗС, елеваторів (зерносховищ), а так само установка, ремонт і обслуговування зерноочисної техніки і багато іншого.
                a(class="about-us__btn default__btn") Читати детальніше
            .about-us__photo
                img(src="img/images-jpg/2015901120108.jpg")