section.awards
    .container
        .awards__header
            .awards__header-title
                img(src="img/icons/award.png")
                h3 Наші кліенти
        .awards__gallery
            .awards__gallery-items
                .awards__gallery-item
                    img(src="img/award/2017-Produkty-naj-869x1024.png")
                    .awards__item-year 2016
                    .awards__item-title Міжнародна відзнака якості
                .awards__gallery-item
                    img(src="img/award/3773b87ce1b1fb7afcffd7bb44faafc6.png")
                    .awards__item-year 2015
                    .awards__item-title Кращі товари та послуги
                .awards__gallery-item
                    img(src="img/award/59218224.n4d4zk6zvi.W665.jpg")
                    .awards__item-year 2017
                    .awards__item-title Екологічні будматеріали
                .awards__gallery-item
                    img(src="img/award/dbadaefa6753dd73932ee555ddd69003.jpg")
                    .awards__item-year 2018
                    .awards__item-title Лауреат конкурсу «Високоякісна продукція»
                .awards__gallery-item
                    img(src="img/award/detiam-medal.jpg")
                    .awards__item-year
                    .awards__item-title Знак качества «Лучшее - детям»
                .awards__gallery-item
                    img(src="img/award/images.jpg")
                    .awards__item-year
                    .awards__item-title