section.clients
    .container
        .clients__header
            .clients__header-title
                img(src="img/icons/team.png")
                h3 Наші кліенти
        .clients__gallery
            .clients__gallery-items
                img(src="img/clients/umg.png")
                img(src="img/clients/kernel.png")
                img(src="img/clients/nibulon.png")
                img(src="img/clients/obolon.png")
                img(src="img/clients/nibulon.png")
                