section.consultation
    .container
        .consultation__content
            h4 Замовити консультацію по послугам та продукії
            form(action='/add_movie', method='POST')
                input(type="text" name="firstname" value="Ім’я")
                input(type="tel" name="telnumber" value="Номер телефону")
                input(type="text" name="firstname" value="Тема звернення") 
                input(type="submit" value="Відправити" class="default__btn")