footer.page-footer
    .footer__contacts
        .container
            .footer__contacts-inner
                .footer__logo
                    img(src="img/logo/logo-small.png")
                .footer__adress 
                    | Сумськ обл., м.Охтирка,
                    br
                    | вул. Київська, 166
                .footer__phone
                    a(href="tel:+380544631122" class="footer__number") +38(05446) 3-11-22
                    a(href="tel:+380671712494" class="footer__number") +38 (067) 171-24-94
                    a(href="tel:+380665425379" class="footer__number") +38 (066) 542-53-79
                .footer__partners
                    | Agtobiz.net
                    br 
                    | Prom.ua
                    br 
                    | ООО "НПК Агросепмаш", м.Запоріжжя
                    br 
                    | ФОП Тарасевич В.А., Житомирська обл., пгт.Новогуйвинське
    .footer__bottom
        .container
            .footer__bottom-inner
                .footer__make-by
                    small digital agency
                    p Powered 
                        b by GENIUSTUDIO
                .footer__copyright &copy; БудАгроПлюс , 2019. Все права защищены.
        