header.page-header
    .header__top
        .container
            .header__top-inner
                .header__logo
                    img(src="img/logo/logo-small.png")
                .header__contacts
                    .header__adress
                        img(src="img/icons/placeholder-small.png") 
                        a(href="#") Україна, Сумськ обл., м.Охтирка, вул. Київська, 166
                    .header__email
                        img(src="img/icons/contact-small.png") 
                        a(href="#") budagroplus@i.ua
                .header__phone
                    img(src="img/icons/phone-small.png")
                    .header__phone-num
                        a(href="tel:+380544631122" class="header__number") +38(05446) 3-11-22
                        a(href="tel:+380671712494" class="header__number") +38 (067) 171-24-94
                        a(href="tel:+380665425379" class="footer__number") +38 (066) 542-53-79
                a(data-fancybox data-src="#consultation" href="javascript:;" class="header__btn default__btn") Замовити консультацію
                .header__top-mob
                    div(data-fancybox data-src="#phone-mob" href="javascript:;" class="header__phone-mob")
                        img(src="img/icons/phone-small.png")
                    button(class="header__toggle" type="button")
                        span.header__toggle-item
                    
    nav.header__nav
        .container
            ul
                li.header__nav-link
                    a(href="../app/index.html") Головна
                li.header__nav-link
                    a(href="../app/services-page.html") Послуги
                li.header__nav-link
                    a(href="../app/products-page.html") Продукція
                li.header__nav-link
                    a(href="../app/works-page.html") Роботи
                li.header__nav-link
                    a(href="../app/about-us-page.html") Про компанію
                li.header__nav-link
                    a(href="../app/reviews-page.html") Відгуки
                li.header__nav-link
                    a(href="../app/contacts-page.html") Контакти

    //Fancybox
    #consultation
        h2 Hello!
        p You are awesome!
    #phone-mob
        .phone-mob-numbers
            a(href="tel:+380544631122" class="header__mob-number") +38(05446) 3-11-22
            a(href="tel:+380671712494" class="header__mob-number") +38 (067) 171-24-94
            a(href="tel:+380544631122" class="header__mob-number") +38(05446)3-11-22
            
               

    