section.products
    .container
        .products__content
            .products__accordion-list
                h4.products__title Продукція
                ul(class="products__accordion" data-accordion="open")
                    li
                        .products__accordion-header Теплогенератор біопаливний ГТУ
                        .products__accordion-body
                            ul
                                li.products__accordion-link 
                                    a(href="#") Теплогенератор біопаливний ГТУ 1 варіант
                                li.products__accordion-link 
                                    a(href="#") Теплогенератор біопаливний ГТУ 2 варіант
                                li.products__accordion-link 
                                    a(href="#") Теплогенератор біопаливний ГТУ 3 варіант
                    li
                        .products__accordion-header Сушарка зернова шахта
                        .products__accordion-body
                            ul
                                li.products__accordion-link 
                                    a(href="#") Сушарка зернова шахта 1 варіант
                                li.products__accordion-link 
                                    a(href="#") Сушарка зернова шахта 2 варіант
                                li.products__accordion-link 
                                    a(href="#") Сушарка зернова шахта 3 варіант
                    li
                        .products__accordion-header Повітряний теплообмінник ТВ
                        .products__accordion-body
                            ul
                                li.products__accordion-link 
                                    a(href="#") Повітряний теплообмінник ТВ 1 варіант
                                li.products__accordion-link 
                                    a(href="#") Повітряний теплообмінник ТВ 2 варіант
                                li.products__accordion-link 
                                    a(href="#") Повітряний теплообмінник ТВ 3 варіант
                
            .products__photo
                img(src="img/images-jpg/2015616110551.jpg" id="products__photo-img1")
                img(src="img/images-jpg/foto0212.jpg" id="products__photo-img2")
                img(src="img/images-jpg/2015901120108.jpg" id="products__photo-img3")