section.reviews
            .container
                .reviews__header
                    .reviews__header-title
                        img(src="img/icons/review.png")
                        h3 Відгуки
                    a(href="#" class="reviews__header-link") Переглянути всі
                .reviews__gallery
                    .reviews__gallery-items
                        img(src="img/reviews/review-1.jpg")
                        img(src="img/reviews/review-2.jpg")
                        img(src="img/reviews/review-3.jpg")
                    a(href="#" class="reviews__mob-link") Переглянути всі