section.services-slide
    .container
        .services-slide__header
            .services-slide__header-title
                img(src="img/icons/service.png")
                h3 Інші послуги
        .services-slide__items
            .services-slide__item-wrapper
                a(href="#" class="services-slide__item")
                    .services-slide__item-img
                        img(src="img/images-jpg/DSC03544.jpg")
                    .services-slide__item-info 
                        .services-slide__item-text Реконструкція та ремонт ЗАВ та КЗС
            .services-slide__item-wrapper
                a(href="#" class="services-slide__item")
                    .services-slide__item-img
                        img(src="img/images-jpg/foto0572.jpg")
                    .services-slide__item-info 
                        .services-slide__item-text Монтаж зернопереробного обладнання
            .services-slide__item-wrapper
                a(href="#" class="services-slide__item")
                    .services-slide__item-img
                        img(src="img/images-jpg/foto0767.jpg")
                    .services-slide__item-info 
                        .services-slide__item-text Проектування та монтаж елеваторів
            .services-slide__item-wrapper
                a(href="#" class="services-slide__item")
                    .services-slide__item-img
                        img(src="img/images-jpg/DSC00932.jpg")
                    .services-slide__item-info 
                        .services-slide__item-text Будівництво ЗАВів та КЗС під ключ