doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        //Nomalize Link
        link(rel="stylesheet", href="css/normalize.css")
        
        //Fancybox Link
        link(rel="stylesheet", href="css/jquery.fancybox.min.css")
        
        //Slick Slider Link
        link(rel="stylesheet", href="css/slick.css")
        
        //Style CSS Link
        link(rel="stylesheet", href="css/style.css")
        title БудАгроПлюс
    body
        include modules/header
        
        .breadcrumb
            .container
                ul
                    li(class="main")
                        a(href="#") 
                            span Головна
                    li
                        a(href="#")
                            span Послуги
                    li
                        span Будівництво ЗАВів та КЗС під ключ
                        
        main
            section.service-item-page
                .service-item__wrapper
                    .container
                        .service-item__content
                            .service-item__number.number-one 1
                            h4.service-item__title Будівництво ЗАВів та КЗС під ключ
                            p.service-item__text Первинна підготовка врожаю зернових культур є невід'ємним процесом у виробництві якісних продуктів сільського господарства. Від очистки та підготовки зерна багато в чому залежать тривалість зберігання та якісні показники товару.
                            
                            img(src="img/images-jpg/DSC00932.jpg" class="service-item__mob-photo")
                            
                            p Зерноочисні комплекси (ЗАВ) призначені для попередньої, первинної очистки та калібрування насіння зернових і зернобобових культур (ячменю, пшениці,  жита, гречки, кукурудзи, проса, гороху, соняшнику, ріпаку, сої) від різного роду  домішок, лушпиння, насіння бур'янів відразу після збирання врожаю на механізованих зерноочисних лініях зернопереробних підприємств.
                                br
                                | Комплекси зерноочисні (КЗС) виробляють комплексну підготовку (очистку та сушку) різних видів зернових для подальшої його переробки, зберігання на складах або силосних сховищах.
                                br
                                | Компанія «Будагроплюс» надає повний перелік послуг з будівництва ЗАВів і КЗС під «ключ». Сюди входить проектування комплексів, будівельні роботи, монтаж будівельних конструкцій, автоматизація роботи, проведення пуско-налагоджувальних робіт, введення об'єкта в експлуатацію, навчання обслуговуючого персоналу.
                                br
                                | Застосування нових технологій очистки зерна при будівництві зерноочисних комплексів істотно покращує показники якості обробки зерна, при цьому значно знижуються енерговитрати на одиницю переробленої продукції.
                        .service-item__content.tablet-photo
                            .service-item__photo
                                img(src="img/images-jpg/DSC00932.jpg")
                        .service-item__content
                            .service-item__photo
                                img(src="img/images-jpg/DSC04369.jpg")
                        .service-item__content
                            .service-item__number.number-two 2
                            h5.service-item__title Проектування зерноочисних комплексів ЗАВ і КЗС
                            p.service-item__text Наша компанія має успішний багаторічний досвід співпраці з провідними проектними інститутами та фірмами, які спеціалізуються на створенні проектів зерноочисних комплексів.
                                br
                                | Інженери- проектувальники на вищому рівні проведуть всі роботи з проектування та розробки всієї необхідної документації, що відповідає сучасним нормам і стандартам.

                    a(data-fancybox data-src="#consultation" href="javascript:;" class="service-item__btn default__btn") Замовити послугу
                
                .learning
                    .container
                        .learning__content
                            h5.learning__title Навчання персоналу
                            p.learning__text Проводиться комплексне та всеохоплююче навчання персоналу, що обслуговує зерноочисний комплекс. Після проходження курсу навчання оператори будуть володіти всіма необхідними знаннями з експлуатації, обслуговування і ремонту основних вузлів комплексу.

                .service-item__wrapper.last
                    .container
                        .service-item__content
                            .service-item__number.number-three 3
                            h5.service-item__title Монтаж конструкцій ЗАВ та КЗС.
                            p.service-item__text Фахівці компанії «Будагроплюс» проведуть всі необхідні роботи з монтажу конструкцій ЗАВ і КЗС із застосуванням сучасних технологій обробки метала та нових конструкційних матеріалів, а саме:
                            ul.service-item__list
                                li будівництво завальних ям для заднього та бічного розвантаження автотранспорту за допомогою естакади або гідравлічного розвантажувача;
                                li будівництво проїзних завальних ям;
                                li монтаж навісів над завальними ямами;
                                li монтаж системи транспортування зерна;
                                li монтаж та введення в експлуатацію системи аспірації;
                                li а також установка сучасного обладнання автоматизації (шаф автоматизації, пультів керування, систем сигналізації та пожежної безпеки). Також проводиться підключення обладнання до джерел живлення, пультів керування та весь комплекс необхідних пуско-налагоджувальних робіт, введення об'єкта в експлуатацію.
                        .service-item__content
                            .service-item__number.number-four 4
                            h5.service-item__title Підготовка виробничих майданчиків
                            p.service-item__text Ми проводимо повний перелік підготовчих робіт з будівництва виробничих майданчиків зерноочисних комплексів. Сюди входять:
                            ul.service-item__list
                                li знесення старих будівель;
                                li розчистка території;
                                li розробка котлованів;
                                li бетонування майданчиків;
                                li будівництво опорних колон;
                                li підключення необхідних комунікацій;
                                li монтаж конструкцій ЗАВ і КЗС.
                                
                                
        include modules/consultation
        include modules/services-slide
        include modules/clients
        include modules/footer
    
        //jQuery Script
        script(src="https://code.jquery.com/jquery-3.4.1.js")
     
        //Fancybox Script
        script(src="js/jquery.fancybox.min.js")

        //Slick Slider Script
        script(src="js/slick.js")
        
        //Main Script
        script(src="js/main.js")